@import "src/assets/css/vars.scss";

.calendarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  padding: 16px;

  border-radius: 8px;
  background-color: $dark;
}

:global {
  .react-datepicker {
    position: relative;
  }

  .react-datepicker__aria-live {
    display: none;
  }

  .react-datepicker__navigation {
    position: absolute;
    right: 32px;
    z-index: 1;

    width: 24px;
    height: 24px;

    color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35355 11.3536C6.15829 11.5488 5.84171 11.5488 5.64645 11.3536L0.646447 6.35355C0.451185 6.15829 0.451185 5.84171 0.646447 5.64645L5.64645 0.646446C5.84171 0.451184 6.15829 0.451184 6.35355 0.646446C6.54882 0.841709 6.54882 1.15829 6.35355 1.35355L1.70711 6L6.35355 10.6464C6.54882 10.8417 6.54882 11.1583 6.35355 11.3536Z" fill="%23F5F5F6" fill-opacity="0.87"/></svg>');
    background-size: 10px 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    &:hover {
      background-color: rgba($white, 0.1);
    }
  }

  .react-datepicker__navigation span {
    visibility: hidden;
  }

  .react-datepicker__navigation--next {
    right: 0;
    transform: rotate(180deg);
  }

  .react-datepicker__month-container {
    background-color: transparent;
  }

  .react-datepicker__day--outside-month {
    visibility: hidden;
  }

  .react-datepicker__current-month {
    position: relative;
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.16667;
    color: $text-main;

    padding-bottom: 16px;
    border-bottom: 1px solid $stroke;
  }

  .react-datepicker__day-names {
    display: flex;
  }

  .react-datepicker__day-name {
    width: calc(288px / 7);
    height: 40px;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: $text-main;
  }

  .react-datepicker__week {
    display: flex;
  }

  .react-datepicker__day {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: calc(288px / 7);

    font-size: 14px;
    line-height: 1.57143;
    color: $white-main;

    background-color: transparent;
    border: transparent;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: rgba($white, 0.05);
    }
  }

  .react-datepicker__day--today {
    border: 1px solid $purple;

    &:hover {
      background-color: transparent;
    }
  }

  .react-datepicker__day--selected {
    font-size: 16px;
    line-height: 24px;
    color: $text-main;

    background-color: rgba($purple, 0.5);

    &:hover {
      background-color: rgba($purple, 0.5);
    }
  }
}

.datePickerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 284px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white-main;

  background-color: transparent;
  border: 1px solid $stroke;
  border-radius: 24px;

  cursor: pointer;
}

.buttonLabelWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttonActive {
  color: $text-main;
  transform: rotate(180deg);
}
