@import "src/assets/css/vars.scss";

.fieldContainer {
  display: flex;
  width: 100%;
  padding-top: 24px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 8px;
  }
}
