@import "src/assets/css/vars.scss";

.halfFieldWrapper {
  width: 50%;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.halfField {
  position: relative;
  aspect-ratio: 461/540;
  border-radius: 8px 0 0 8px;
  border: $thickness solid $stroke;
  border-right-width: $half-thickness;

  @media (max-width: $desktop-width) {
    aspect-ratio: 312/266;
    border-radius: 8px 8px 0 0;
    border-right-width: $thickness;
    border-bottom-width: $half-thickness;
  }
}

.centerCircle {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);

  height: 25.92%;
  aspect-ratio: 1/2;

  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border: $thickness solid $stroke;
  border-right: none;

  @media (max-width: $desktop-width) {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    height: 15.24%;
    aspect-ratio: 2/1;

    border-radius: 0 0 50% 50%/0 0 100% 100%;
    border: $thickness solid $stroke;
    border-top: none;
  }
}

.goalBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 10.846%;
  height: 25%;

  border: $thickness solid $stroke;
  border-left: none;

  @media (max-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 25%;
    height: 10.85%;

    border: $thickness solid $stroke;
    border-top: none;
  }
}

.penaltyBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 50%;
  aspect-ratio: 101/270;

  border: $thickness solid $stroke;
  border-left: none;

  @media (max-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 50%;
    height: 21.7%;

    border: $thickness solid $stroke;
    border-top: none;
  }
}

.penaltyArc {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);

  height: 51.85%;
  aspect-ratio: 1/2;

  border-radius: 0 100% 100% 0/0 50% 50% 0;
  border: $thickness solid $stroke;
  border-left: none;

  @media (max-width: $desktop-width) {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    width: 50%;
    height: auto;
    aspect-ratio: 2/1;

    border-radius: 0 0 50% 50%/0 0 100% 100%;
    border: $thickness solid $stroke;
    border-top: none;
  }
}

.penaltySpot {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 3%;
  aspect-ratio: 1/1;

  border-radius: 50%;
  border: $thickness solid $stroke;

  @media (max-width: 480px) {
    border-width: $half-thickness;
  }

  @media (max-width: $desktop-width) {
    left: 50%;
    top: 75%;

    height: 8%;
  }
}

.rotated {
  transform: rotate(180deg);
}

.player {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);

  height: 7.4%;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background-color: $black;

  &[data-isright] {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  @media (max-width: $desktop-width) {
    height: 10.3%;
  }
}
