.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coachName {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: rgba(245, 245, 246, 0.87);
}

.coachImg {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.rightToLeftDirection {
  direction: rtl;
}
