@font-face {
  font-weight: 300;
  font-family: "Almarai";
  src: url("/fonts/almarai-light.woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Almarai";
  src: url("/fonts/almarai-regular.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Almarai";
  src: url("/fonts/almarai-bold.woff2");
}

@font-face {
  font-weight: 800;
  font-family: "Almarai";
  src: url("/fonts/almarai-extrabold.woff2");
}
