$stroke: #413d42;
$black: #110c13;
$black-half-transparent: rgba($black, 0.5);
$white: #ffffff;
$white-main: #a09ea1;
$background: #221d24;
$text-main: rgba(245, 245, 246, 0.87);

$default-thickness: 2;
$half-thickness: calc($default-thickness / 2) + px;
$thickness: $default-thickness + px;

$desktop-width: 1440px;
