.togglePageContainer {
  padding: 8px;
  text-align: center;
  background-color: rgb(82, 79, 75);
  margin-bottom: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button {
  padding: 4px 8px;
}
