@import "../../assets/css/vars.scss";

.leaguesListContainer {
  width: 302px;
  margin: 16px auto 0 auto;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
  padding-right: 16px;

  cursor: pointer;
}

.inputWrapper {
  position: relative;
  margin-bottom: 24px;
}

.searchLeagueInput {
  font-family: Almarai;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $white;

  width: 100%;
  padding: 8px 17px 8px 44px;
  background-color: $black;
  border-radius: 24px;
  border: 1px solid $stroke;
  outline: none;
}

.searchIcon {
  position: absolute;

  top: 12px;
  left: 17px;
}

.leaguesListWrapper {
  padding-left: 32px;

  overflow-y: scroll;
  direction: rtl;
}

.leaguesList {
  list-style: none;
  height: 750px;
  direction: ltr;
}

.leagueItem {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.leagueLabelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;

  cursor: pointer;
}

.leagueIcon {
  width: 24px;
  height: 24px;

  object-fit: cover;
  border-radius: 50%;
}

.leagueName {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;
  color: $white-main;
}

.caretIcon {
  margin-left: auto;
  color: $white-accent;
}

.expanded {
  color: $text-main;
}

.expandedIcon {
  transform: rotate(180deg);
  color: $white-main;
}

.expandedList {
  padding-left: 12px;
  list-style: none;
}

.expandedListItem {
  display: flex;
  gap: 8px;

  padding-left: 30px;

  border-left: 1px solid $stroke;

  &:not(:first-child) {
    padding-top: 12px;
  }

  &:not(:last-child) {
    padding-bottom: 12px;
  }
}

.expandedListItemTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: $white-main;
}
